.home-section {
  background-color: #1abc9c;
  height: 80vh;
}

.img-container {
  margin-bottom: 3rem;
}
.home {
  padding: 4rem 0;
}
.img-container img {
  width: 60%;
}

.home-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.home-content p .icon {
  margin: 0 1rem;
}
.line {
  height: 4px;
  width: 80px;
  background-color: #fff;
  display: inline-block;
}

.home-content .titles {
  color: #fff;
}
